[Unit]
Description=Tux Protect VPN
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/iptables -F
ExecStart=/usr/sbin/openvpn --config /usr/share/tuxprotect/vpn/netfree.ovpn
ExecStop=/usr/sbin/iptables -F
ExecStopPost=-/usr/bin/chattr -i /etc/systemd/system/tuxprotect-vpn.service


ExecStopPost=-/usr/bin/systemctl daemon-reload
ExecStopPost=/usr/bin/systemctl reenable tuxprotect-vpn.service

StartLimitInterval=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
